<ion-header>
  <ion-toolbar>
    <ion-title>
      Sms testing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1>Send SMS</h1>
    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="tel" name="phone" [(ngModel)]="phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Text</ion-label>
      <ion-textarea autoGrow [(ngModel)]="text"></ion-textarea>
    </ion-item>
    <ion-button (click)="sendSMS()">Send</ion-button>
  </div>
</ion-content>
